.buttonAttendanceSubmit{
    margin-top: 15px;
    width:98%;
    padding: 20px;
    background:#414195 ;
    margin-bottom: 18px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.disabled{
    cursor:not-allowed;
}